@model IEnumerable<GoWatch.Models.Fan>

@{
    ViewBag.Title = "Index";
}

<br /><br /><br /><br /><br /><br /><br />
<form action="">
    <div class="form-group">
        <input type="text" class="form-control" name="SearchString" placeholder="Search your Team">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>

        </tr>
    }

</table>
