@model IEnumerable<GoWatch.Models.Article>

@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background-position: center;
        height: 20px;
        background-image: url('../../Images/15002.jpg');
        background-position: center;
        background-repeat: no-repeat, repeat;
        background-size: auto;
        padding: 50px;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
         
            @Html.ActionLink("Details", "Details", new { id=item.AutoId }) |
 
        </td>
    </tr>
}

</table>
