@model IEnumerable<GoWatch.Models.HomeEvent>

@{
    ViewBag.Title = "Index";
}

<form action="">
    <div class="form-group">
        <input type="text" class="form-control" name="SearchString" placeholder="Search your Team">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
       

        <td>

            @Html.ActionLink("Details", "EventDetails", new { id = item.EventID }) |
            @Html.ActionLink("Get Directions", "GetDirections", new { id = item.EventID })|
           
        </td>
    </tr>
}

</table>
