@model IEnumerable<GoWatch.Models.BarEvents>

@{
    ViewBag.Title = "BarIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br /><br /><br /><br />
                                    <style>
                                        body {
                                            background-position: center;
                                            height: 20px;
                                            
                                            background-image: url('../../Images/8196.jpg');
                                            background-position: center;
                                            background-repeat: no-repeat, repeat;
                                            background-size: auto;
                                            padding: 20px;
                                        }
                                    </style>
<form action="">
    <div class="form-group">
        <input type="text" class="form-control" name="SearchString" placeholder="Search your Team">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BarName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BarName)
            </td>
  
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
          
          
            <td>
                @Html.ActionLink("Get Directions", "GetDirections", new { id = item.EventID })|
                @Html.ActionLink("Details", "BarEventDetails", "BarEvent", new { id = item.EventID }) |
                @Html.ActionLink("Rating", "Create", "ArticlesComments", new { id = item.EventID }) |

                @Html.ActionLink("Attending", "Count", "Create", new { id = item.EventID }) |

            </td>
        </tr>

    }

</table>
