@model IEnumerable<GoWatch.Models.Count>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message) at| @Html.DisplayFor(modelItem => item.Countdate)<br />
            @Html.DisplayFor(modelItem => item.Countlike) likes<br />
            @Html.ActionLink("Like", "Like", new { id = item.CountId })
        </td>
       
        <td>
           
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CountId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CountId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CountId })
        </td>*@
    </tr>
}

</table>
